.section{
    width: 900px;
    height: 230px;
    margin-left: 20%;
}
.ad{
    font-size: 50px;
    color: saddlebrown;
    text-align: center;

}
input{
    width: 200px;
    height: 30px;
    column-gap: 50%;
    margin-left: 20%;
}
.btn2{
    width: 100px;
    height: 30px;
    background-color: #8b4513;
    color: aliceblue;
    border-radius: 4px;
    margin-left: 20%;
}
textarea{
    margin-left: 20%;

}