.form{
    width: 50%;
    margin: 0 auto;
    border: solid black;
    border: none;
}
.form > input{
    padding: 12px 20px;
    width:  70%;
    border: solid 1px;
    border-radius: 5px;
}
.btn1{
    border: none;
    outline: none;
    padding: 10px 12px;
    border-radius: 5px;
    color: #E7B10A;
    cursor: pointer;
    transition:.5s ease all;
    background-color: brown;
    margin: 0 auto;
    

    


}
.btn1:hover{
    background-color: aliceblue;

}

.heading{
    font-size: 50px;
    color: #E7B10A;
    text-align: center;


}






